.conteiner-site{
    margin: 20px
}

.posts{
    margin-bottom: 10px;
}

a:link{
    text-decoration: none;
}

.hashtags-nome:hover{
    color: #07B094;
    text-decoration: none;
    font-weight: bold;
}

.form-comentario{
    margin-left:20px
}