<!DOCTYPE html>
<html>
<head>
  <title>Blog Scallar</title>
  <script src="vue-dev.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="estilos.css">



</head>
<body>

    <div class="conteiner-site">



    <img src="blog_scallar_logo.png">

    <nav class="navbar navbar-expand-lg navbar-light">
  
        <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">App Scallar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
      
    </ul>
  </div>
</nav>

<br>
<h4>Conteúdo</h4>
<br>


<div id="app">


    <div class="row">
    <div class="col-sm-6 posts" v-for="item in itens" 
    v-show="item.isVisible">
            <img :src="`${item.id}.png`" />
            <br>
            {{item.titulo}}
            <br>
            {{item.data_publicacao}}
            <br>
            {{item.autor}}
            <br>
            {{item.tag}}
    </div>
    </div>

</div>


<script>
var app = new Vue({
  el: '#app',
  data: {
    search: '',
    itens: [
      { 
          id: 1,
          titulo: '10 apps gratuitos que utilizamos na Scallar',
          data_publicacao: 'Publicado em 18 de Agosto, 2020',
          autor: 'por Álan Corrêa',
          tagId: [0],
          isVisible: true
      },

      { 
          id:2,
          titulo: '4 vantagens de sistemas multicontas',
          data_publicacao: 'Publicado em 11 de Agosto, 2020',
          autor: 'por Álan Corrêa',
          tagId: [8],
          isVisible: true


      },

       { 
          id:3,
          titulo: 'As vantagens do marketing de conteúdo',
          data_publicacao: 'Publicado em 4 de Agosto, 2020',
          autor: 'por Álan Corrêa',
          tagId:[5],
          isVisible: true


       },

       { 
          id:4,
          titulo: 'Planilhas: quando devo usar na minha empresa?',
          data_publicacao: 'Publicado em 28 de Julho, 2020',
          autor: 'por Álan Corrêa',
          tagId: [4],
          isVisible: true


       },


     
    ]

  }
})
</script>


<br>
<h4>Hashtags mais pesquisadas</h4>
<br>

<div id="app2">

    <div class="row ">
    <div class="col-2 align-self-center hashtags" v-for="hashtag in hashtags">
        <div class="card-block">
        <a 
        class="hashtags-nome"
        v-on:click="esconderDiv(hashtag.id)"
        v-bind:id="hashtag.id"
        >{{hashtag.nome}}</a>
    </div>
    </div>
    </div>

</div>





<script>
    var app2 = new Vue({
      el: '#app2',
      data: {
        hashtags: [
          { 
              id: 0,
              nome: 'marketing'
          },
    
          { 
              id: 1,
              nome: 'metricas'
          },
    
          { 
              id: 2,
              nome: 'cac'
          },
    
          { 
              id: 3,
              nome: 'ticketmedio'
          },  

           { 
             id:4,
              nome: 'payback'
          },    

          { 
            id:5,
              nome: 'ltv'
          }, 

          { 
            id:6,
              nome: 'conteudo'
          }, 

          { 
              id:7,
              nome: 'ltv/cac'
          }, 

          { 
              id:8,
              nome: 'sistema'
          },

          

        ]
      },

      methods: {
        esconderDiv: function (id) {

          nome=this.hashtags[id].nome;


         
          //console.log(app.itens);

          for(i=0; i < app.itens.length; i++){

            if(id == app.itens[i].tagId){

              app.itens[i].isVisible = true;
            
            }else{

              app.itens[i].isVisible = false;

            }



          }

          

          
          

        
        }
      },

    })
    </script>

    <br>
    <h4>Deixe seu comentário sobre o blog</h4>
    <br>

<div class="row">
<div class="col-sm-6 form-comentario" id="form-comentario">

    <form v-on:submit.prevent="addNewComentario">

    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail"
        v-model="newEmail"
        >
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="nome" placeholder="Digite seu nome"
        v-model="newNome">
    </div>

    <div class="form-group">
        <textarea class="form-control" id="comentario" rows="3" placeholder="Comentário"
        v-model="newComentario"></textarea>
    </div>

    <input type="submit" value="Enviar Comentário" class="btn btn-success">
    <input type="reset" value="Limpar" class="btn btn-danger">

    </form>

    <br>
    <br>

    <li
      is="comentario-item"
      v-for="(comentario, index) in comentarios"
      v-bind:key="comentario.id"
      v-bind:email="comentario.email"
      v-bind:nome="comentario.nome"
      v-bind:comentario="comentario.comentario"
    >
    </li>

    <script>

Vue.component('comentario-item', {
  template: '\
    <span>\
      E-Mail: {{ email }} <br> Nome: {{ nome }} <br> Comentário:{{ comentario }} <br><hr>\
    </span>\
    \
  ',
  props: ['email','nome','comentario']
})

new Vue({
  el: '#form-comentario',
  data: {
    newEmail: '',
    newNome: '',
    newComentario:'',

    comentarios: [
      {
        id: 1,
        title: 'Exemplo de Comentário',
      },
      
    ],
    nextComentarioId: 2
  },
  methods: {
    addNewComentario: function () {
      this.comentarios.push({
        id: this.nextComentarioId++,
        email: this.newEmail,
        nome: this.newNome,
        comentario: this.newComentario,

      })
      this.newEmail  = '',
      this.newNome  = '',
      this.newComentario  = ''
    }
  }
})

    </script>

</div>
</div>






</div>

</body>
</html>
